$radius: .4em;
$title: #3366cc;
$title_btm: #222;
$border1: #e0e0e0;
$radios: #e0e0e0;
$radio_subtitle: #666; // convert
$holiday: #ff0000;

$link: #0c2f75;
$link_hover: #3051e6;

$btn: #164199;
$btn_bg: #a0a0a070;
$btn_radius: .4em;
$btn_hover: #fff;
$btn_hover_bg: #3366cc;

$badge:#fff;
$badge_bg:#888;
$badge_radius:1em;

$striped_bg1: #f0f0f0;
$striped_left_text: #3366cc;
$mosaic_bg: #f0f0f0;

// $go_today: #fff;
// $go_today_bg: #3366cc;
// $go_today_radius: .3em;
// $go_today_hover: #666;

$clock: #076d29;
$clock_primary: #6b088a;
$clock_paused: #777; //timer
$clock_size: 2em;
$clock_and: #888;

$sound: #777;
$sound_hover: #3366cc;

$alarm_setter: #777;

$month_name: #3366cc;
$month_sub1: #386600;
$month_sub2: #666;
$month_sub3: #888;
$weekdays: #fff;
$weekdays_bg: #888;
$red_day: #ff0000;
$day_littles: #666;
$today_border: #e0e0e0;
$today_shadow: 0px 0px 14px -7px rgba(0,0,0,.5);
$month_info: #444;
$month_info_bg: #f0f0f0;
$month_info_b: #333;
$month_info_when: #3366ccab;

$label_underline: #e0e0e0; // diff

$pray_text: #666;
$pray_box1: rgba(200, 150, 150, 0.7);
$pray_box2: rgba(150, 150, 220, 0.7);

$stpw_zbg: cornsilk;
$swpw_zero: #999;
$stpw_color1: #3366cc;
$stpw_color2: #555;
$stpw_list: #666;
$stpw_plus: #0a5f26c4;
$stpw_plus2: #fff;

